.signup_bg{
    
    position: relative;
    width:100%;
    margin-top: 6rem;
  

}
.form-title{
    padding: 2rem 0 0 2rem;
}
.register-form{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.form-group input{
    margin-top: 1.5rem;
    border-bottom:1px solid #333 !important;
    border: none;
    outline: none;
    width: 70%;
}
.signup_main{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background: #fff;
    width: 55%;
    margin: auto;
    box-shadow: 0 1px 14px #000007;
    height: auto;
    border-radius: 12px;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.signup_img{
    width: 70%;
    height: 60%;
    border-radius: 8px;
    margin: 7rem 0 0 5rem;
  
}
.signup_main_img p{
    padding:1rem 0 0 5rem;
    text-decoration: none !important;
    
    color: skyblue !important;
    font-weight: bold;
    cursor: pointer;
}
.form-button input{
    background: skyblue;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: center;
    padding: 8px 25px;
    margin-top:1rem !important;
    cursor: pointer;
    width: 8rem;


}